<div class="header">
  <ul class="nav nav-pills pull-right">
    <!--li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li-->
    <li ng-show="accessToken">
      <a class="btn btn-danger" href="/#/signout">Sign out</a>
    </li>
  </ul>
  <h1 class="logo">insta5</h1>
</div>

<div class="jumbotron" ng-hide="accessToken">
  <h2>
    Wanna know your top 5 Instagram pictures?
  </h2>
  <p>
    <a class="btn btn-lg btn-success" ng-href="{{instagramAuthUrl}}">Sign in with Instagram</a>
  </p>
</div>

<div class="row marketing">
  <ul class="top5">
    <li ng-repeat="image in images">
      <h2>{{image.caption.text}}</h2>
      <a href="{{image.link}}"><img ng-src="{{image.images.standard_resolution.url}}" /></a>
      <p>{{image.likes.count}}</p>
    </li>
  </ul>
</div>

<div class="footer">
  <p>hardcoders &amp; maqueteros</p>
</div>

